*,
*::before,
*::after{
    box-sizing: border-box;
}


:root{
    --ff-primary: 'Yantramanav', sans-serif;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #3cff00;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.6rem;
    --fs-h4: 1.35rem;
    --fs-h5: 1.225rem;
    --fs-h6: 1.1rem;
    --fs-reg: .9rem;
    --fs-body: 1.1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

body {
    font-size: var(--fs-body);
    color: #007dfa;
    font-weight: var(--fw-reg);
    font-family: var(--ff-primary);
    overflow-x: hidden;
    direction: ltr;
}

::selection{
    background: rgba(3, 169, 245, 0.5) !important;
    color: #fff;
}

.opacity-0 {
    opacity: 0 !important;
}

.border-radius-50 {
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

a,
a:hover,
a:active{
    text-decoration: none;
    color: inherit;
}

a,
*::before,
*::after,
.button,
.image img,
.navbar,
.overlay,
.overlay ul{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

i::before,
i::after {
    -webkit-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}

.side-menu .btn-close::before,
.side-menu .btn-close::after,
.process-wrapp li>.pro-step::before,
ul.rounded li::before,
.webcats li a::before,
ul.hours_links li::before,
.side-nav .navbar-nav .nav-link::after {
    content: "";
}

.bg-white {
    background-color: #fff;
}

.gradient-bg {
    -webkit-background-size: 200% auto;
    background-size: 200% auto;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--clr-accent)), color-stop(51%, #95564b), to(#e1a351));
}


.navbar {
    padding: 0.35rem 0;
    z-index: 1000;
}

.transparent-bg {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

.fixed-bottom {
    position: absolute;
    background: #fff;
    padding: 0;
    -webkit-box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.35);
}

.fixed-bottom.fixedmenu {
    bottom: auto;
    top: 0;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
}

.fixed-bottom.menu-top .dropdown-toggle::after {
    content: "\f106";
}

.fixedmenu {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin: 0 !important;
    padding: 0;
    z-index: 1002;
    -webkit-animation-name: animationFade;
    -o-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fixedmenu.no-animation {
    animation: none;
    animation-duration: 0.1s;
}


.navbar-brand {
    margin: 16px 0;
    padding: 0;
    width: 90px;
    position: relative;
}

.navbar-brand.center-brand {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    z-index: 1;
}

.center-brand+.navbar-collapse {
    margin: 3px 0;
}

.navbar-brand>img {
    width: 100%;
}

.navbar.fixedmenu .logo-default,
.navbar .logo-scrolled {
    display: none;
}

.navbar.fixedmenu .logo-scrolled,
.navbar .logo-default {
    display: inline-block;
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar.sidebar-nav .navbar-nav .nav-item {
    margin: 10px 0;
}

.navbar-nav .nav-item:first-child {
    margin-left: 0;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-nav .nav-link {
    padding: 8px 0 !important;
    font-weight: 500;
    text-transform: capitalize;
    font-size: var(--fs-reg);
    color: #26313c;
    position: relative;
    line-height: normal;
    margin: 16px 1.25rem;
    display: inline-block;
}
.navbar-nav .nav-item:last-child .nav-link{
    margin-right: 0;
}

.text-warning-hvr:hover,
.text-warning-hvr:focus {
    color: #ffc107;
}

.text-grey {
    color: #a5a5a5;
}

.transparent-bg .navbar-nav .nav-link {
    color: #fff;
}
.static-nav .navbar-nav .nav-link:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
    width: 0;
    height: 2px;
    background: #24CDD5 !important;
    margin: auto;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    
}
.transparent-bg.darkcolor .navbar-nav .nav-link {
    color: #007dfa;
}
.whitecolor .navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link.active:before {
    width: 100%;
}

.fixedmenu .navbar-nav .nav-link {
    color: #26313c;
}

.hover-light:hover {
    color: #fff !important;
}

.services-main:hover img {
    transform: scale(1.08);
}

.services-main:hover h3 {
    background-image: -webkit-gradient(linear, left top, right top, from(#5192e1), color-stop(51%, #23ced5), to(#5192e1));
    background-clip: border-box;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorPrimary', endColorstr='@colorSecondary', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*-----Side Menu----*/



/* End of Navigation */


/* Beginning of banner */
.section-banner {
    background: url(../img/banner.jpg) fixed no-repeat;
    -webkit-background-size: contain;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 90vh;
}
.banner_inner {
   position: absolute;
   left: 50%;
   top: 57%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   color: rgb(0, 0, 0);
   font-weight: var(--fw-bold);
   font-style: italic;
}
.banner_inner h1 {
   font-size: var(--fs-h3);
   font-weight: 400;
   margin-bottom: 25px;
}
.banner_inner a {
   margin-bottom: 50px;
   font-size: var(--fs-reg);
}

/* End of Banner */

/* Beginning of sections */

.section-box{
    margin-bottom: 35px;
}

.section-box:hover .preview_outer{
    transform: translateY(-10px);
    -webkit-box-shadow: 0 6px 10px 0 #c1bfbf;
    box-shadow: 0 6px 10px 0 #000000;
}

.section-box:hover .link-heading a:before,
.section-box:hover .link-heading a:after{
   width: 50%;
}

.section-heading{
    color: #007dfa;;
    font-weight: var(--fw-bold);
    text-align: center;
}

.section-link-heading{
    font-weight: var(--fw-reg);
    font-size: var(--fs-reg);
    color: #000000;
    line-height: 1.5;
}

/* Latest works */
.name-date{
    font-weight: var(--fw-bold);
    font-size: var(--fs-reg);
    color: #000000;
    border-top: 4px solid var(--clr-accent);
}

.name-date p{
    margin: 0 ;
}

.preview_outer {
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
 }

 .preview_outer img {
    width: 100%;
    margin: 0;
    -webkit-transition: 2s linear;
    -o-transition: 2s linear;
    transition: 2s linear;
 }

/* Services */


.section-box .section-services-button{
    color: #000000;
    border: 2px solid rgb(0, 17, 255);
    text-align: center;
}

.services-heading{
    color: #007dfa;
    font-size: var(--fs-h4);
    text-align: center;
}


.contact-container{
    color: rgb(0, 2, 150);
    font-size: var(--fs-h6);
}

.session-heading,
.gallery-heading,
.photographers-heading,
.contact-heading{
    font-size: var(--fs-h4);
}

.image-after{
    background-color: var(--clr-accent);
    font-size: var(--fs-h5);
    color: #000000;
}

.img{
    background-size: cover;
}

/* Footer */
.footer-section{
    background-color: var(--clr-dark);
    color: #ffffff;
}

.footer-section h5{
    font-size: var(--fs-h4);
}

.footer-items{
    font-size: var(--fs-h6);
    text-decoration: none;
    color: #ffffff;
}

.footer-section-items{
    background-color: var(--clr-light);
}


/* Responsiveness */
@media all and (min-width:1200px){
    :root{
        --fs-h1: 3.5rem;
        --fs-h2: 2.75rem;
        --fs-h3: 2.1rem;
        --fs-h4: 1.85rem;
        --fs-h5: 1.725rem;
        --fs-h6: 1.6rem;
        --fs-reg: 1.2rem;
        --fs-body: 1.6rem;
    }
}
@media all and (min-width:768px){
    .navbar-brand{
        width: auto;
    }
}
@media (max-width: 1200px) {
    .side-menu .inner-wrapper {
        padding: 4rem 3.25rem;
    }
}

@media (max-width: 1055px) {
    .navbar .social-icons {
        margin-right: 30px;
    }
}

@media (max-width: 1024px) {
    .side-menu .inner-wrapper {
        padding: 4rem 2.7rem;
    }
    .side-nav .navbar-nav .nav-link {
        font-size: var(--fs-h4);
    }
    .sideNavPages .nav-link {
        font-size: var(--fs-h5) !important;
    }
    .sideNavPagesInner .nav-link {
        font-size: var(--fs-h6) !important;
    }
}

@media (max-width: 992px) {
    .transparent-bg:not(.fixedmenu) {
        background: rgba(38, 49, 60, 0.55);
        padding: 0;
    }
    .side-menu {
        width: 50%;
    }
    .side-menu .inner-wrapper {
        padding: 2rem 2.5rem;
    }
    .side-nav .navbar-nav .nav-link {
        font-size: var(--fs-h5);
    }
    .sideNavPages .nav-link {
        font-size: var(--fs-h6) !important;
    }
    .side-menu .btn-close {
        top: 33px;
        margin-right: 1.2rem;
        right: 15px;
    }
    nav.side-nav {
        margin-top: 35px;
    }
}

@media (max-width: 767px) {
    .side-menu .btn-close {
        top: 26px;
    }
    .side-menu {
        width: 80% !important;
    }
}

@media (max-width: 576px) {
    .side-menu .inner-wrapper {
        padding: 2rem 5rem;
    }
    .side-menu {
        width: 100% !important;
    }
    .navbar-nav {
        margin-top: 1.5rem;
    }
    .navbar-brand{
        margin: 0;
    }
}
.gallery--images {
    display: flex;
    overflow: hidden;
    height: 50vw;
    background: #ffffff;
}

.gallery--images img {
    max-width: 100%;
    vertical-align: middle;
    border: 2px solid white;
    box-sizing: border-box;
    transition: opacity 0.2s;
}

.gallery--images:hover img {
    opacity: 0.5;
}

.gallery--images img:hover {
    opacity: 1;
}

.first-column {
    animation: var(--animation, none) 16s infinite linear;
}

.first-column:hover {
    animation-play-state: paused;
}

.first-column:nth-of-type(odd) {
    align-self: flex-end;
    --direction: 50%;
}
@keyframes slide {
    to {
        -webkit-transform: translateY(var(--direction, -50%));
        transform: translateY(var(--direction, -50%));
    }
}
.imgAbout{
    width: 30px;
    height: 500px;
}


.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ba1f24;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #fa183d;
    border-radius: 50%;
    transition: all 200ms;
}

.video-play-button:hover:after {
    background-color: darken(#fa183d, 10%);
}

.video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}




